* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: gray;
}

.display-area {
    height: 20vw;
    width: 100%;
    background-color: gray;
    margin-bottom: 2vh;
    border-radius: 5px;
}

.buttons-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, .5fr);
    background-color: darkgrey;
    border-radius: 5px;
    gap: 15px;
    padding: 15px;
    padding-bottom: 0;
}

.buttons-area__btn {
    background-color: lightslategray;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.buttons-area__btn::after {
    display: block;
    content: '';
    padding-bottom: 100%;
}

.buttons-area__btn--equal {
    grid-row: 5 / span 2;
    grid-column: 5;
    height: calc(75% - 15px);
} 

.buttons-area__btn--zero {
    grid-column: 1 / span 2;
    height: 50%;
}

.buttons-area__btn--end {
    height: 50%;
}

@media (min-width: 500px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 700px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 30%;
    }
}